* {
    padding: 0;
    margin: 0;
  }
  
  body {
    * font-family: 'Poppins', sans-serif; 
  }
  .fas fa-envelope-square, fa-phone-square-alt, fa-map-marked-alt{
    
  }
  .fab fa-facebook-square, fa-linkedin, fa-twitter-square{

  } 
  .info a{
        text-decoration: none;
        color: black;
        
        font-style: italic;
      }
      h3{
          color: rgb(13, 202, 240,1);
      }
      .header-top-image{
        height: 250px;
        margin-bottom: 200px;
      }  
      .pr-image{
        margin-bottom: -20% !important;
        width: 250px;
        height: 300px;
        margin-top: 25%;
        margin-left: 20%;
      }
      .img-responsive{
        height: 250px;
        width: 250px;
      }